Datasets/
Datasets/dataset/
model/
backend/__pycache__
__pycache__
node_modules
package-lock.json
package.json
backend/__pycache__
backend/.env
.env
kaggle.json
.env.local
frontend/public/models/vosk-model
Testing
videos
backend/smartsurv.db
smartsurv.db
backend/.env